<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TamTarti2202.Properties.KullaniciAyarlari" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TamTarti2202.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TamTarti2202.KullanıcıAyarları" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TamTarti2202.Properties.KullaniciAyarlari>
            <setting name="PortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BoudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FirmaAdi" serializeAs="String">
                <value>Tam Tartı Makine İnşaat ve Otomasyon Sistemleri San. Tic. Ltd. Şti.</value>
            </setting>
            <setting name="connectionTartim" serializeAs="String">
                <value>server=localhost;database=tartim;uid=root;pwd=1960;Charset=utf8;convert zero datetime=True;</value>
            </setting>
            <setting name="connectionForCreate" serializeAs="String">
                <value>server=localhost;uid=root;pwd=1960;Charset=utf8;convert zero datetime=True;</value>
            </setting>
            <setting name="connectionUrunler" serializeAs="String">
                <value>server=localhost;database=urunler;uid=root;pwd=1960;Charset=utf8;convert zero datetime=True;</value>
            </setting>
            <setting name="xampPath" serializeAs="String">
                <value>C:\xampp\xampp-control.exe</value>
            </setting>
        </TamTarti2202.Properties.KullaniciAyarlari>
        <TamTarti2202.Settings>
            <setting name="PortAdi" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BoudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
        </TamTarti2202.Settings>
        <TamTarti2202.KullanıcıAyarları>
            <setting name="Portlar" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BoudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
        </TamTarti2202.KullanıcıAyarları>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>